@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C486B;
    width: 1652px;
    margin: auto;
    border: black solid 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 10%;
    font-family: 'Josefin Sans', sans-serif;
}
main {
    margin: auto;
    width:1652px ;
    height: 80%;
    font-family: 'Josefin Sans', sans-serif;
}
.Logo-Title {
    width: 30%;
}
.nav {
    width: 60%;
}
.Logo-Title img {
    width: 150px;
}
h1 {
    font-size: xx-large;
    color: darkgoldenrod;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav nav {
    display: flex;
    justify-content: space-around;
}
.nav nav a {
    text-decoration: none;
    color: darkgoldenrod;
    border: solid 2px darkgoldenrod;
    border-radius: 30px;
    background-color: #F0F0F0;
    padding: 10px 30px;
}
.nav input {
    width:85% ;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    border: #3C486B solid 2px;
    align-items: center;
    font-size: medium;
}
main .departmentHeader {
    display: flex;
    justify-content: center;
    border: solid #3C486B 4px;
    border-radius: 5px;
    font-size: larger;
    padding: 4px 12px;
    margin-top: 20px;
    width: 50%;
}
main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 70%;
    flex-wrap: wrap;
}
main section div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid #3C486B 2px;
    border-radius: 30px;
    width: 300px;
    height: 450px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

main section div img {
    width:150px;
    border-radius: 50%;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: auto;
    height: 10%;
    background-color: #3C486B;
    width:1652px;
    border: #3C486B solid 2px;
    border-bottom-right-radius: 10px;    
    border-bottom-left-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;    
}
footer section {
    width: 1652px;
    color:darkgoldenrod ;
}
.footerSection1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.footerSection1 img {
    width: 400px;
    height: 200px;
}
.footerSection2 {
    display: flex;
    justify-content: center;
}
footer section a {
    text-decoration: none;
    color: darkgoldenrod;
    border: darkgoldenrod solid 2px;
    border-radius: 5px;
    padding: 5px;
}